body {
  background-color: #000000;
  text-align: center;
  font-family: 'Caveat', cursive;
}

h1 {
  font-size: 2.5rem;
  color: cyan;
}

.btn {
	background:linear-gradient(to bottom, lightcyan 5%, cyan 100%);
	background-color:cyan;
	border-radius:5px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:15px 35px;
	text-decoration:none;
}
.btn:hover {
	background:linear-gradient(to bottom, lightblue 5%, aquamarine 100%);
	background-color: #ffffff;
}
.btn:active {
	position:relative;
	top:1px;
}

.btn_div {
  margin-top: 300px;
}

.hide {
  visibility: hidden;
}

.diceImages {
  position: relative;
  margin: 0 auto 0 auto;
}

.player1, .player2 {
  color: cyan;
  display: inline-block;
  position: absolute;
}

.player1 {
  background-color: green;
}
.player2 {
  background-color: maroon;
}

.player_title {
  font-size: 2rem;
}

.title {
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;
  color: cyan;
  text-shadow: 0 -2px 0 0 lightcyan;
  color: #ffffff;
}
